<div class="content-container" ng-controller="OfficeCountryController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/manageofficeaddresses">{{'label.anchor.manageOfficeAddress' | translate }}</a></li>
        <li class="active">{{'label.anchor.manageOfficecountry' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.anchor.manageOfficecountry' | translate}}</h4>
            </div>
            <br/>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <a href="#/createnewofficecountry" class="btn btn-primary"  has-permission=''><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createnewCountry' | translate}}</a>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <!-- When code edit condition insert code -->
                 <div>
                    <input ng-autofocus="true" type="text" ng-model="filterText" ng-keyup="onFilter()"  class="form-control span marginbottom0px" placeholder="{{'label.input.filterbynameexternalid' | translate}}">
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'label.heading.name' | translate }}</th>
                                <th>{{ 'label.heading.description' | translate }}</th>
                                <th>{{ 'label.heading.position' | translate }}</th>
                                <th>{{'label.heading.active' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer-main" dir-paginate="country in countries | orderBy:'name':reverse  | filter:filterText |  itemsPerPage: limitCountriesPerPage">
                                <td class="pointer">{{country.name}}</td>
                                <td class="pointer">{{country.description}}</td>
                                <td class="pointer">{{country.postion}}</td>
                                <td class="pointer">{{country.isActive}}</td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>


