<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h5>Manage Office Address</h5>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/officecountry" has-permission=''>
                            <h5 class="list-group-item-heading"><i class="fa-solid fa-flag fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageOfficecountry'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.addnewOfficeCountry'
                                | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/officecity" has-permission=''>
                            <h5 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageOfficecity'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.defineOfficecity' | translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/officeregion" has-permission=''>
                            <h5 class="list-group-item-heading"><i class="fas fa-location-arrow fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageOfficeRegion'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.defineaddOfficeRegion' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/officedistrict" has-permission=''>
                            <h5 class="list-group-item-heading"><i class="fa-solid fa-arrow-up fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageofficeDistrict'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.defineAddOfficeDistrict' | translate}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
